@font-face {
  font-family: 'FuturaBT-MediumItalic';
  src: url('FuturaBT-MediumItalic.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBT-Light';
  src: url('FuturaBT-Light.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

html, body {
    min-height: 100%;
}

body {
  background-image: url('http://stuffpoint.com/dogs/image/323241-dogs-cute-dog.jpg');
  background-repeat:  no-repeat;
  background-position: 0 0;
  background-size: cover;
}

.wrapper {
  padding-top: 5%;
}

.content {
  border-radius: 5px;
  background: #A1D6FF;
  padding: 5px 50px 50px 50px;
  margin-bottom: 50px;
}

h1 {
  font-family: Georgia !important;
  font-style: italic;
  font-size: 110px !important;
  color: #FFFFFF !important;
  line-height: 138px;
}

.text p {
  font-family : 'FuturaBT-MediumItalic';
  font-size: 26px;
  color: #FFFFFF !important;
  letter-spacing: 0.74px;
  line-height: 47px !important;
}

form {
  padding-top: 50px;
}

label {
  font-family: 'FuturaBT-MediumItalic'; 
  font-size: 34px;
  color: #FFFFFF !important;
}

input[type=text] {
  height: 50px;
  font-size: 30px;
  font-family: 'FuturaBT-MediumItalic'; 
  padding-left: 20px;
}

input[type=submit] {
  border: none;
  background-color: white;
  height: 50px;
  padding: 0px 20px;
  margin-top: 50px;
  font-size: 35px;
  font-family: 'FuturaBT-MediumItalic';
}

input[type=submit]:hover {
  color: white;
  background-color: #ff69b4;
  border: 4px solid yellow;
  line-height: -10px;
  
}

/*footer {
  position: fixed;
  bottom: 30px;
}*/

footer a {
  font-family: 'FuturaBT-MediumItalic';
  color: #7A5ABE;
  font-size: 30px;
}